@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    /* background-color: #f8f7f4; */
}

.main{
    height: 100%;
    width: 100%;
    font-family: "poppins";
}

.page1{
    height: 100%;
    width: 100%;
}

.nav{
    height: 5vw;
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
}

.nav1{
    width: 30%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-between;

}

.nav1 a{
    /* font-size: 1.3vw; */
    text-decoration: none;
    color: black;
}

.nav img{
    height: 100%;
    margin-top: 2vw;
    margin-right: 6vw;
}

.nav2{
    width: 20%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    margin-right: 2vw;
}

.nav2 button{
    padding: 0.8vw 1.2vw;
    font-size: 0.9vw;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
}

.nav2 button:nth-child(1){
    background-color: transparent;
    color: black;
}
.content{
    /* padding: 4vw 8vw; */
    margin-top: 4vw;
}

.content h3{
    font-size: 1vw;
    background-color: #f2b0ea;
    width: fit-content;
    padding: 0.5vw 1vw;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.content h1{
    margin-top: 0.5vw;
    text-align: center;
    font-size: 4vw;
    line-height: 4.5vw;
    font-weight: 600;
}

.content h4{
    margin-top: -1vw;
    text-align: center;
    /* font-size: 4vw; */
    line-height: 5vw;
    font-weight: 400;
}

.content button{
    margin-top: -0.5vw;
    margin-bottom: 1vw;
    /* text-align: center; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vw 1vw;
    border-radius: 50px;
    color: white;
    background-color: black;
    font-weight: 600;
}

.bottom{
    height: 39.6vh;
    width: 100vw;
    /* background-color: red; */
    padding: 0.5vw;
    display: flex;
    gap: 1vw;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.bottom::-webkit-scrollbar{
    display: none;
}

.elem{
    flex-shrink: 0;
    height: 37vh;
    width: 18vw;
    background-color: seagreen;
    border-radius: 5px;
}

.page2{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    overflow: hidden;
    /* padding: 0vw 5vw; */
    /* margin-right: 5vw; */
}

.page2 h1{
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-weight: 500;
}

.page2 .box-elem{
    margin-top: -2vw;
    margin-left: 2.5vw;
}

.box{
    height: 18vw;
    width: 22vw;
    background-color: salmon;
    display: inline-block;
    margin-right: 2vw;
    margin-top: 2vw;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.box-bottom{
    height: 8vw;
    width: 22vw;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.904));
    /* background-color: red; */
    /* margin-left: 2.5vw; */
    position: absolute;
    bottom: -8vw;
    transition: all ease 0.3s;  
}

.box:hover .box-bottom{
    bottom: 0;
}

.page2 .contact{
    height: 30vh;
    width: 100vw;
    background-color: grey;
}

.contact{
    font-size: 1.7vw;
    height: 30%;
    width: 100%;
    color: black;
    background-color: #faa9f0;
    padding: 2vw 10vw;
    display: flex;
    gap: 1.7vw;
}

.contact img{
    height: 70%;
    margin-top: 1vw;
    margin-left: -5vw;
}

.contact .email{
    margin-left: 4vw;
}

.contact a{
    text-decoration: none;
}

.email h3{
    font-weight: 500;
}

.email a{
    font-size: 1.2vw;
    margin-left: 3vw;
}

.link{
    display: flex;
    align-items: center;
    gap: 1.5vw;
    margin-left: 15vw;
    margin-top: -5vw;
}

.link h5{
    color: black;
    font-size: 1vw;
    font-weight: 400;
}

.copyright{
    color: black;
    /* width: 100%; */
    font-size: 1vw;
    margin-top: 8vw;
    text-align: center;
    margin-left: -55vw;
    color: white;
}

